.h1{
    color: red !important;
}
.fw-700{
    font-weight: 700;
} 
.fs-29{
    font-size: 29px;
}
.fs-35{
    font-size: 35px;
} 
.text-primary-color{
    color: #ED700F;
}
.bg-primary-color{
    background: #ED700F !important;
}
.btn-trans-b-0{
    background: transparent;
    border: 0;
}
input{
    background: #F1EFEF !important;
    border-radius: 0 !important;
}
select{
    background: #F1EFEF !important;
    border-radius: 0 !important;
}
.vue-treeselect__control{
    background: #F1EFEF !important;
    border-radius: 0 !important;
    border: 1px silver solid !important;
}